@import '../../assets/styles/variables';

.nav-container {
  margin: 2rem;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-name {
  padding-left: 2rem;
  color: $font-color-primary;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  a {
    cursor: pointer;
  }
}

.register-link {
  color: #ff0000 !important;
}

.link {
  text-decoration: none;
  color: $font-color-primary;
}

@media only screen and (max-width: 600px) {
  .logo-name {
    display: none;
  }
  .nav-container {
    margin-bottom: 4rem;
  }
}
