@import '../../assets/styles/variables';

.nav-container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-name {
  padding-left: 1rem;
  color: $font-color-primary;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu-item {
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 500;
  a {
    cursor: pointer;
  }
}
